<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylrsheet" href="/static/styles.css">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
          <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
          <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
          <script src="/static/app.js"></script>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/">
        <button class="btn btn-secondary">
          menu
        </button>
      </a>
      <div class="row">
          <div class="col-12">
              <h1>Kitchen</h1>
          </div>
      </div>
    <div class="row">
        <div class="col-12" id="cooks">
            {% for i in orders %}
                {% for l in orders.i %}
                    <p>{{orders.i.l}}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


  </body>