<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylrsheet" href="/static/styles.css">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
          <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
          <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
          <script src="/static/app.js"></script>
  </head>
<body>
    <div class="container">    
        <div class="row">
            <div class="col-6">
                <a href="http://127.0.0.1:5000/menu/">
                <button class="btn btn-secondary">Order</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">   
                <a href="http://127.0.0.1:5000/orders/"> 
                <button class="btn btn-secondary">See Order</button>
                </a>
            </div>
        </div>

        
</body>