<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylrsheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script src="/static/app.js"></script>
</head>
<body>


<div class="container">
<h1>
        {{title}}
</h1>
</div>
<div >
<ul>
{% for l in menu -%}

<div class="container"> 
      <div class="container"></div> 
      <list class="menulist">{{ l.Name }} : </list>
</div>
      <button  type="button" class="btn btn-secondary">+</button> <button  type="button" class="btn btn-secondary">-</button> <p>0</p>
</div>
      <br> 

        
{% endfor -%}
</ul>
</div>


      <div >
      <ul>
      {% for i in drinkmenu -%}
      
      {%if i.Options != nothing-%}
      {%for l in i.Options%}
      <div class="container">  
      <div class="container">
            <list class="menulist">{{ l }} : </list>
      </div>
            <button  type="button" class="btn btn-secondary">+</button> <button  type="button" class="btn btn-secondary">-</button> <p>0</p>
      
      </div>
            <br> 
            {%endfor%}
      {%endif%}
      
            <div class="container">  
            <div class="container"></div> 
            <list class="menulist">{{ i.Name }} : </list>
            </div>
            <button  type="button" class="btn btn-secondary">+</button> <button  type="button" class="btn btn-secondary">-</button> <p>0</p>
            </div>
            <br> 
      
              
      {% endfor -%}
      </ul>
      </div>
      


</body>

</html>