<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylrsheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script src="/static/app.js"></script>
</head>
<body>

<!---->
<div class="container">
      <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
<h1>
        {{title}}
</h1>
<div class ="col-8">
      <button onclick="cancelbutton()" type="button" class="btn btn-secondary" > Cancel Order</button>
</div>
            </div>
      </div>
</div>
<ul>
{% for l in menu -%}
<div class="container">
      <div class="row">
        <div class="col-4">


      <list class="menulist">{{ l.Name }} : </list>

</div>
      <div class="col-2">
      <button onclick="plusbutoon('{{l.Name}}')" type="button" class="btn btn-secondary" >+</button> <button onclick="minusbutton('{{l.Name}}')" type="button" class="btn btn-secondary">-</button><p class="no" id = "{{l.Name}}">0</p>
</div>
</div>
</div>
      <br> 

        
{% endfor -%}
</ul>

      <ul>
      {% for i in drinkmenu -%}
      {%if i.Options != nothing-%}
      {%for l in i.Options%}
      <div class="container">
            <div class="row">
              <div class="col-4">
            <list class="menulist">{{ l }} : </list>
      </div>
      <div class="col-2">
            <button onclick="plusbutoon('{{l}}')" type="button" class="btn btn-secondary custombutton">+</button> <button onclick="minusbutton('{{l}}')"  type="button" class="btn btn-secondary custombutton">-</button> <p class="no" id="{{l}}">0</p>
      </div>
</div>
</div>
            <br> 
            {%endfor%}
      {%endif%}
      {%else%}
      <div class="container">
            <div class="row">
              <div class="col-4">
            <list class="menulist">{{ i.Name }} : </list>
      </div>
      <div class="col-2">
            <button onclick="plusbutoon('{{i.Name}}')" type="button" class="btn btn-secondary">+</button> <button onclick="minusbutton('{{i.Name}}')" type="button" class="btn btn-secondary">-</button> <p class="no" id="{{i.Name}}">0</p>
      </div>
</div>
</div>
            <br> 
      {}
              
      {% endfor -%}
      </ul>
      <div class="container">
            <div class="row">
                  <div class="col-4 text-center">
                        <label for="fname">Full Name:</label>
                        <input class="form-control" type="text" id="Name" name="fname" placeholder="John Smith"><br><br>
                  </div>
              <div class="col-4 text-center">   
      
      <button onclick="submitbutton()" type="button" class="btn btn-secondary" > Submit</button>
</div>
</div>
</div>
</body>

</html>